body{
    background-color: #FEFDFB;
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #592918;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}



main{
    margin: 25px;
}

#header {
    text-align: center;
    margin-bottom: 100px;
}


.section {
    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.divpromesse2{
    display: flex;
}

.divpromesse {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A67F5D;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 457px;
    
    
}


.divbouton{
    background-color: #A67F5D;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#promesse{
    margin-bottom: 100px;
    flex-direction: column;
}

.divre {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A67F5D;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;

}
#produit{
    margin-bottom: 100px;
}
.divte {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #A67F5D;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}

#temoignage{
    margin-bottom: 100px;
    
}

.img {
    width: 200px;
    height: 200px;
    
}